<div style="position: relative">
  <div [ngClass]="{'ltr': currentLanguage === 'fa', 'rtl': currentLanguage === 'en'}" class="form-container">
    <div class="date-container">
      <mat-label>{{ label }}</mat-label>
      <div
        #dateInput
        class="date-input"
        [class.error]="formValidation()"
        [formGroup]="formGroup"
      >
        <input
          [(ngModel)]="year"
          #yearInput
          formControlName="year"
          class="firstInput"
          [class.text-red]="!formGroup.get('year')?.valid"
          [class.text-red]="yearError()"
          type="text"
          maxlength="4"
          placeholder="____"
          (blur)="onFocusOut($event, 'year')"
        />
        <div class="slash">/</div>
        <input
          *ngIf="currentLanguage === 'fa'"
          [(ngModel)]="month"
          #monthInput
          formControlName="month"
          class="secondInput"
          [class.text-red]="!formGroup.get('month')?.valid"
          [class.text-red]="monthError()"
          type="text"
          maxlength="2"
          placeholder="__"
          (blur)="onFocusOut($event, 'month')"
        />
        <input
          *ngIf="currentLanguage === 'en'"
          [(ngModel)]="day"
          #dayInput
          formControlName="day"
          class="thirdInput"
          [class.text-red]="!formGroup.get('day')?.valid"
          [class.text-red]="dayError()"
          type="text"
          maxlength="2"
          placeholder="__"
          (blur)="onFocusOut($event, 'day')"
        />
        <div class="slash">/</div>
        <input
          *ngIf="currentLanguage === 'fa'"
          [(ngModel)]="day"
          #dayInput
          formControlName="day"
          class="thirdInput"
          [class.text-red]="!formGroup.get('day')?.valid"
          [class.text-red]="dayError()"
          type="text"
          maxlength="2"
          placeholder="__"
          (blur)="onFocusOut($event, 'day')"
        />
        <input
          *ngIf="currentLanguage === 'en'"
          [(ngModel)]="month"
          #monthInput
          formControlName="month"
          class="secondInput"
          [class.text-red]="!formGroup.get('month')?.valid"
          [class.text-red]="monthError()"
          type="text"
          maxlength="2"
          placeholder="__"
          (blur)="onFocusOut($event, 'month')"
        />

        <input
          class="invisibleInput"
          matInput
          [min]="englishMinDate_Date"
          [max]="englishMaxDate_Date"
          [matDatepicker]="picker1"
          [formControl]="calender"
        />
      </div>
    </div>
    <div class="date-picker-container">
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker [dir]="currentLanguage === 'fa' ? 'rtl' : 'ltr'" #picker1></mat-datepicker>
    </div>
  </div>
  <span class="text-red" *ngIf="formGroup.touched && formGroup.invalid"
    >{{currentLanguage === 'fa' ? 'تاریخ صحیح نمی باشد' : 'Invalid Date'}}</span
  >
</div>
